body {
    margin: auto;
    background-image: url(11032627.png)


}
.Udevs {
    justify-content: center;
    text-align: center;
    position: relative;

}
.Mytext {
    color: rgb(114, 104, 243);
    font-size: 25px;
    text-align: center;
    word-spacing: 3px;
    text-shadow: 4px,4px,8px aqua;

}